.show{
position: relative;
   
	height: 200px;
	width: 1000px;
	left:50%;
    transform: translateX(-50%);	
}

.harvester img{
	float :left;
	width:400px;
	height: 200px;
}
.par
{ 
	position: absolute;
	left:600px;
	height: 200px;
   width: 400px;
}
.par
{ 
	font-size: 20px;
	font-family: sans-serif;
	
}
.show1{
    position: relative;
    left:50%;
    transform: translateX(-50%);
	height: 200px;
	width: 1000px;
	overflow: hidden;
	
}
.jcb img{
	float: right;
	width:400px;
	height: 200px;
	
}
.par1
{ 
	width:400px;
	font-size: 20px;
	font-family: sans-serif;
	
}
